<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CArds</title>
    <link rel="stylesheet" href="../../assets/css/style.css" />
    <link rel="stylesheet" href="../../assets/css/main.css" />
  </head>
  <body>
    <ul class="cards-list">
      <li class="cards">
        <img
          src="./../../assets/images/pic1.png"
          alt="Picture"
          width="560"
          height="420"
        />
        <h3 class="cards-title">Integer Maecenas Eget Viverra</h3>
        <div class="cards-author-info">
          <img
            src="./../../assets/images/author.svg"
            alt="Author pic"
            width="40"
            height="40"
          />
          <p class="author-name">Joanna Wellick</p>
          <span class="card-time"> June 28, 2018 </span>
          <div class="card-share-box">
            <span class="card-doc">•</span>
            <img
              src="./../../assets/images/share-icon.svg"
              alt="Share Icon"
              width="15"
              height="16"
            />
            <span class="card-time">1K shares</span>
          </div>
        </div>

        <p class="cards-description">
            Aenean eleifend ante maecenas pulvinar montes lorem et pede dis dolor pretium donec dictum. Vici consequat justo enim. Venenatis eget adipiscing luctus lorem.
        </p>
        <a class="cards-link" href="#">
            <span>View Post</span>
        </a>
      </li>
    </ul>
  </body>
</html>
