/* HEADER STYLES */

.header {
  position: relative;
  padding-top: 43px;
  z-index: 5;
}

.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 30px;
}

.nav-link {
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
}

.header-search {
  display: flex;
  align-items: center;
  gap: 24px;
}

/* HERO SECTION STYLES */

.hero {
  position: relative;
  /* max-width: 2048px;
  width: 100%; */
  background-image: url("../images/bg-hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 391px 0 289px;
  top: -97px;
  bottom: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.39);
}

.hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.39);
  z-index: 1;
}

.hero-inner {
  margin: 0 auto;
  text-align: center;
}

.hero-title {
  margin: 0;
  position: relative;
  z-index: 10;
  color: white;
  font-weight: 700;
  font-size: 64px;
  text-transform: uppercase;
  line-height: 84.1px;
  letter-spacing: 0.5px;
}

.hero-subtitle {
  margin: 0;
  color: #fff;
  margin: 0;
  position: relative;
  z-index: 10;
  font-family: "Europa-Regular", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  margin-bottom: 40px;
}

/* BUTTON STYLES */

.btn-start {
  position: relative;
  z-index: 10;
  border: 2px solid #fff;
  border-radius: 2px;
  padding: 15px 0;
  max-width: 320px;
  width: 100%;
  background-color: #fff;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #121416;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.06);
}

.btn-get {
  max-width: 340px;
  width: 100%;
  height: 54px;
  padding: 10px 40px;
  background-color: #000000;
  border-radius: 2px;
  font-family: "Sansita";
  font-weight: 700;
  font-size: 19px;
  line-height: 19.2px;
  letter-spacing: 8%;
  color: #ffffff;
  text-transform: uppercase;
}

.btn-more {
  max-width: 240px;
  width: 100%;
  border-radius: 2px;
  margin: 20px 0 100px;
  border: 1px solid #121416;
  padding: 15px 60px;
  color: rgba(18, 20, 22, 0.6);
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.btn-travel {
  border-radius: 4px;
  padding: 0 10px;
  background: rgba(255, 255, 255, 0.2);
  font-weight: 700;
  font-size: 24px;
  line-height: 31.54px;
  color: #fff;
}

.btn-primary {
  max-width: 320px;
  width: 100%;
  border-radius: 2px;
  border: 1px solid #7f7d85;
  background-color: #fff;
  height: 54px;
}

.post-btn {
  font-family: "EuropaNuova-Bold", "Arial", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #7a65e1;
}

.btn-comments {
  width: 100%;
  padding: 19px 24px;
  border-radius: 4px;
  background-color: #191919;
  font-family: "EuropaNuova-Bold", sans-serif;
  font-weight: 400;
  color: #fff;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 25%;
}

button {
  transition: all 0.2s ease-in;
}

button:hover {
  opacity: 0.6;
  transform: scale(0.94);
}

/* CARDS STYLE */

.cards {
  display: flex;
  flex-direction: column;
  max-width: 560px;
  width: 100%;
  position: relative;
}

.cards-title {
  margin: 36px 0 30px;
  font-weight: 700;
  font-size: 42px;
  line-height: 40px;
  color: #121416;
}
.buttons-img {
  position: absolute;
  padding: 32px;
}

.btn-icon {
  padding: 8px, 10px, 8px, 10px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  font-weight: 700;
  font-size: 20px;
  line-height: 26.28px;
  color: #fff;
}

.cards-author-info {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;
}

.author-name {
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 40px;
}

.author-name::after {
  display: inline-block;
  width: 36px;
  height: 2px;
  background-color: rgba(108, 117, 125, 0.4);
  content: "";
  position: relative;
  top: -7px;
  left: 10px;
}

.card-time {
  font-family: "EuropaNuova-Regular";
  margin-left: 10px;
  color: #6c757d;
  font-weight: 400;
  font-size: 18px;
  line-height: 40px;
}

.card-share-box {
  display: flex;
  align-items: center;
}

.card-doc {
  font-size: 20px;
  line-height: 40px;
  color: rgba(108, 117, 125, 0.4);
  margin-left: 8px;
  margin-right: 7px;
}

.cards-description {
  margin: 40px 0;
  font-family: "Europa-Regular", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 29.94px;
  color: rgba(108, 117, 125, 1);
}

.cards-link {
  position: relative;
  max-width: 108px;
  width: 100%;
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  color: #121416;
}

.cards-link::after {
  display: inline-block;
  width: 108px;
  height: 1px;
  background-color: #121416;
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;
  margin-bottom: 2px;
}

/* SOCIAL SECTION STYLES */

.social {
  margin-top: -59px;
  padding: 0;
}

.social-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
  margin-bottom: 41px;
}

.social-item {
  display: flex;
  gap: 4px;
}

.social-title {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
}

/* CARDS STYLES */

.cards-list {
  display: flex;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
}

.cards {
  max-width: 560px;
  width: 100%;
}

.cards img {
  max-width: 560px;
  width: 100%;
}

.cards-inner {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 80px;
}

/* TRAVEL SECTIONS STYLES */

.post {
  background-image: url("../images/post.png");
  height: 600px;
  background-size: cover;
}

.post-inner {
  padding: 153px 0;
  text-align: center;
}

.post-title {
  max-width: 968px;
  width: 100%;
  margin: 15px auto;
  font-weight: 700;
  font-size: 48px;
  letter-spacing: -3.5%;
  line-height: 45.68px;
  color: #fff;
}

.post-text {
  max-width: 750px;
  width: 100%;
  margin: 30px auto;
  font-family: "EuropaNuova-Bold", sans-serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 22.5px;
  color: #e5e5e5;
}

.destinations {
  margin-top: 178px;
}

.destination-title {
  margin: 0 0 16px;
  font-weight: 700;
  font-size: 32px;
  line-height: 20px;
}

.destinations-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.destinations-list {
  margin: 30px 0 198px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.destinations-paragraph {
  position: absolute;
  top: 48%;
  left: 53px;
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 26.28px;
  color:#fff;
}

.destination-cards {
  position: relative;
}

/* CATEGORY STYLES  */

.category-list {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-bottom: 31px;
  position: relative;
}

.category-item {
  position: relative;
}
.category-item span {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.5%;
  color: #121416;
  position: relative;
}

.category-list::after {
  display: inline-block;
  position: absolute;
  max-width: 1766px;
  width: 100%;
  height: 2px;
  background-color: #d6d6d6;
  content: "";
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -8px;
}

.category-item:nth-child(1)::after {
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #121416;
  content: "";
  left: 0;
  bottom: -8px;
}

.category-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.categories-card-wrapper {
  max-width: 1023px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px;
  border: 1px solid rgba(18, 20, 22, 0.2);
}

.category-card__time {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #6e6e6e;
}

.category-card__title {
  margin: 16px 0;
  font-weight: 700;
  font-size: 18px;
  color: #121416;
  line-height: 23.65px;
}

.category-card__subtitle {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 21px;
  font-size: 14px;
  margin-bottom: 20px;
}

.categories-card-big {
  max-width: 601px;
  width: 100%;
}

.category-card-lists {
  max-width: 340px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.category__link {
  font-weight: 700;
  font-size: 16px;
  line-height: 40px;
  color: #121416;
  position: relative;
}

.category__link::after {
  position: absolute;
  width: 72px;
  height: 1px;
  background-color: #121416;
  left: 0;
  bottom: 0;
  content: "";
}

.category-card-item {
  display: flex;
  align-items: flex-start;
  gap: 30px;
}

.category-item__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 24.58px;
  margin-bottom: 16px;
}

.category-wrapper {
  max-width: 680px;
  width: 100%;
  border: 1px solid rgba(18, 20, 22, 0.2);
  padding: 24px;
}

.categories-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.5px;
  margin-bottom: 24px;
}

.category-card-list {
  display: flex;
  align-items: center;
  gap: 50px;
  flex-direction: column;
}

/* FOOTER STYLES */

/* SINGLE PAGE FIRST STYLES */

.site-header {
  padding-top: 36px;
  padding-bottom: 60px;
  background-image: url("../images/bg-single.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.header-wrap {
  position: relative;
  z-index: 8;
}

.site-header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.39);
  z-index: 1;
}

.bread-crumb__list {
  display: flex;
  align-items: center;
  gap: 5px;
  padding-top: 32px;
}

.bread-crumb-item a {
  font-weight: 700;
  font-size: 14px;
  line-height: 18.4px;
  color: #fff;
}

.content-wrap {
  padding-top: 299px;
  max-width: 1084px;
  width: 100%;
}
.content-title {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 64px;
  font-weight: 700;
  line-height: 66.18px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #fff;
}

.content-text {
  margin: 0 0 16px;
  font-family: "Europa-Regular", sans-serif;
  font-weight: 400;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.5%;
  color: #ffffff;
}

.content-list {
  display: flex;
  align-items: center;
  gap: 3px;
}

.content-item {
  display: flex;
  align-items: center;
  gap: 3px;
}

.content-name {
  font-family: "Europa-Regular", sans-serif;
  color: #fff;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
}

.content-item span {
  font-family: "Europa-Regular", sans-serif;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
}

.content-item::after {
  display: inline-block;
  width: 20px;
  height: 1px;
  background-color: #fff;
  content: "";
  margin: 0 4px;
}

.content-item:last-child::after {
  display: none;
}

.ranking {
  display: block;
  width: 5%;
  float: left;
}

.site-main {
  display: block;
  width: 75%;
  float: left;
}

.follow {
  width: 20%;
  float: right;
}

.info-wrap {
  max-width: 1080px;
  width: 100%;
}

.info {
  font-family: "Europa-Regular", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 33px;
  color: #121416;
}

@media screen and (max-width: 1500px) {
  .follow {
    float: none;
    margin: 0 auto;
    display: flex;
    align-items: first baseline;
    gap: 40px;
    width: 75%;
  }

  .site-main {
    float: none;
    margin: 0 auto;
    /* margin-top: 600px; */
  }

  .ranking {
    display: none;
  }

  .options-list {
    justify-content: center;
  }
}

@media screen and (max-width: 1200px) {
  .form {
    flex-direction: column;
  }
}

.info-title {
  max-width: 998px;
  width: 100%;
  font-weight: 700;
  font-size: 48px;
  line-height: 63.07px;
  letter-spacing: 0.5px;
  color: #121416;
  text-transform: uppercase;
  margin-bottom: 40px;
  position: relative;
  left: 40px;
}

.info-title::before {
  position: absolute;
  background-image: url("../images/icon-teeth.svg");
  background-repeat: no-repeat;
  width: 41px;
  height: 38px;
  content: "";
  left: -40px;
  top: 15px;
  margin-right: 33px;
}

.info-list {
  list-style: disc;
  margin-left: 64px;
  margin-bottom: 64px;
}

.info-subtitle {
  font-weight: 700;
  font-size: 40px;
  line-height: 52.56px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-bottom: 17px;
}

.info-item {
  font-family: "Europa-Regular", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 33px;
  color: #121416;
}

.statistics {
  padding-top: 120px;
  display: flex;
  align-items: center;
  margin-bottom: 100px;
}

.statistics-item {
  max-width: 270px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.statistics-item span {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #757575;
}

.statistics-item::after {
  display: inline-block;
  width: 270px;
  height: 1px;
  background-color: #cd2b32;
  content: "";
  position: absolute;
  bottom: -24px;
  left: 0;
}

.statistics-item:nth-child(1)::after {
  background-color: #757575;
}

.statistics-item:nth-child(2)::after {
  background-color: #3b5998;
  bottom: -26px;
}

.statistics-item:nth-child(3)::after {
  background-color: #00aced;
  bottom: -26px;
}

.sign-up {
  padding-top: 98px;
}

.form-input {
  width: 335px;
  height: 70px;
  border-radius: 4px;
  padding: 19px 24px;
  border: 1px solid #e3e3e3;
  outline: none;
}

::placeholder {
  font-family: "Europa-Regular", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #757575;
}

.btn-submit {
  max-width: 335px;
  width: 100%;
  border-radius: 4px;
  padding: 19px 24px;
  background-color: #121416;
  font-family: "EuropaNuova-Bold", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 25%;
  color: #ffffff;
}

.sign-up__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 52.56px;
  letter-spacing: 0.5px;
  color: #121416;
  margin: 0;
}

.sign-up__subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 47.3px;
  color: #a9a9a9;
  margin: 0;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.form {
  display: flex;
  align-items: center;
  gap: 36px;
}

.sign-up-checker {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-top: 38px;
}

.checkbox-input {
  width: 24px;
  height: 24px;
}

.sign-up-confirm {
  font-family: "Europa-Regular", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #a9a9a9;
  line-height: 22px;
}

/* 157 */

.options-wrapper {
  width: 100%;
  max-width: 1308px;
  padding-top: 157px;
}

.options-title {
  color: #121416;
  margin-bottom: 27px;
}

.options-list {
  display: flex;
  align-items: center;
  gap: 54px;
  flex-wrap: wrap;
}

.options-cards {
  max-width: 400px;
  width: 100%;
}

.options-subtitle {
  margin-top: 20px;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  color: #121416;
  margin-bottom: 20px;
}

.options-text {
  margin-top: 20px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #6c757d;
}

.option-list {
  display: flex;
  align-items: center;
  gap: 10px;
}

.option-item::after {
  display: inline-block;
  width: 20px;
  height: 1px;
  background-color: rgba(18, 20, 22, 0.81);
  content: "";
  position: relative;
  top: -4px;
  margin-left: 9px;
}

.option-item:last-child::after {
  display: none;
}

.form-follow {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 24px;
}

.article {
  padding-top: 160px;
}

.article-title {
  margin: 0;
  font-family: "EuropaNuova-Bold", sans-serif;
  font-size: 25px;
  line-height: 33px;
  color: #121416;
  font-weight: 700;
  margin-bottom: 24px;
}

.article-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.article-cards {
  padding: 20px;
  background-color: #fff;
}

.article-subtitle {
  font-family: "EuropaNuova-Bold", sans-serif;
  font-size: 16px;
  line-height: 20.5px;
  color: #121416;
  font-weight: normal;
  margin-bottom: 12px;
}

.first-card {
  background-image: url("../images/article-bg.png");
}

.first {
  color: #fff;
}

.follow-text {
  margin-top: 40px;
  font-family: "EuropaNuova-Bold", sans-serif;
  font-size: 20px;
  line-height: 30px;
  color: #121416;
  font-weight: 700;
  margin-bottom: 24px;
}

.follow-text span {
  font-family: "Europa-Regular", sans-serif;
  font-weight: normal;
}

.ranking-list {
  max-width: 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  justify-content: flex-start;
}

.ranking-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ranking-num {
  color: #121416;
  font-family: "Europa-Regular", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
}

.site-footer {
  margin-top: 160px;
  padding: 88px 0;
  background-color: #121416;
}

.footer-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-link {
  background-color: #fff;
}

/*-------------------- SECOND PAGE STYLE ------------------*/

.header-site {
  padding: 14px 0;
  background-color: #121416;
}

.btn-get-sc {
  background-color: #fff;
  color: #121416;
}

main {
  flex-grow: 1;
}

.crumb-item a {
  font-weight: 700;
  font-size: 14px;
  line-height: 18.4px;
  color: #121416;
}

.second-main {
  display: block;
  width: 78%;
  float: left;
  margin-top: 36px;
}

.options {
  margin-top: 120px;
  max-width: 1322px;
  width: 100%;
  padding: 0 12px 50px 0;
  background-color: #fff;
}

.socials-wrap {
  width: 22%;
  float: right;
  margin-top: 36px;
}

.background-wrap {
  max-width: 1322px;
  width: 100%;
  background-color: #fff;
}
.intro {
  padding: 30px 30px 60px;
  background-image: url("../images/page-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  max-width: 1322px;
  width: 100%;
}

.intro-status-list {
  display: flex;
  align-items: center;
  gap: 4px;
}

.intro::after {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  content: "";
  right: 0;
  top: 0;
}

.intro-status-btns button {
  font-family: "Europa-Bold", sans-serif;
  padding: 8px 10px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  font-weight: 400;
  font-size: 20px;
  line-height: 26.28px;
  color: #fff;
  margin-bottom: 396px;
  position: relative;
  z-index: 4;
}

.intro-box {
  position: relative;
  z-index: 4;
}

.box-title {
  font-weight: 700;
  font-size: 48px;
  line-height: 66.18px;
  letter-spacing: 0.5px;
  color: #fff;
}

.subscribe {
  margin-top: 100px;
  background-image: url("../images/search-bg.png");
  background-repeat: no-repeat;
  padding: 171px 0;
}

.subscribe-inner {
  padding: 0 111px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.subscribe-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 52.56px;
  letter-spacing: 0.5px;
  color: #fff;
}

.subscribe-text {
  font-family: "Europa-Regular", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 33px;
  color: #fff;
}

.menu {
  display: none;
}

.box-text {
  font-family: "Europa-Regular", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 47.3px;
  color: #fff;
  letter-spacing: -2.5%;
}

.subscribe-label {
  position: relative;
}

.subscribe-input {
  width: 100%;
}

.btn-subsc {
  position: absolute;
  right: 16px;
  top: -14px;
  height: 50px;
  width: 140px;
  border: 1px solid rgba(203, 205, 207, 1);
  border-radius: 4px;
  font-weight: 700;
  font-size: 20px;
  line-height: 33px;
}

.subscribe-input {
  width: 100%;
}

.subscribe-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.information-wrapper {
  display: flex;
  align-items: flex-start;
  gap: 32px;
  padding-left: 109px;
  margin-top: 100px;
}

.news {
  max-width: 900px;
  width: 100%;
  margin-left: 32px;
}

.hidden {
  display: none;
}

.menu-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: absolute;
  z-index: 11;
  left: 120px;
  right: 0;
  margin: 0 auto;
  margin-top: 60px;
}

.menu-list2 {
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: absolute;
  z-index: 11;
  left: 120px;
  right: 0;
  margin: 0 auto;
  margin-top: 60px;
}

.news-subtitle {
  margin-bottom: 60px;
  font-family: "Europa-Regular", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 33px;
  color: #121416;
}

.table {
  padding: 61px 0;
  position: relative;
}

.table-title {
  font-family: "Europa-Regular", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 26.28px;
  letter-spacing: 18%;
  color: #121416;
  margin-bottom: 31px;
}

.table-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.table-sublist {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-left: 71px;
}

.table-item,
.table-subitem {
  font-weight: 700;
  font-size: 20px;
  line-height: 26.28px;
  letter-spacing: 2%;
  color: #01ca6c;
}

.table::before {
  display: block;
  max-width: 900px;
  height: 1px;
  background-color: #e9ecef;
  content: "";
  position: absolute;
  top: 0px;
}

.table::after {
  display: block;
  max-width: 900px;
  height: 1px;
  background-color: #e9ecef;
  content: "";
  position: absolute;
  bottom: 0px;
}

.table-item::before {
  display: inline-block;
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: #e9ecef;
  content: "1";
  text-align: center;
  color: #495057;
  font-size: 15px;
  margin-right: 10px;
  top: -3px;
}

.table-item:last-child::before {
  content: "2";
}

.table-subitem::before {
  display: inline-block;
  position: relative;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background-color: #e9ecef;
  content: "";
  margin-right: 7px;
  top: -3px;
}

.description {
  margin-top: 60px;
}

.description-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 52.56px;
  letter-spacing: 0.5px;
  margin-bottom: 40px;
}

.description-text {
  font-family: "Europa-Regular", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 33px;
  color: #121416;
  margin: 0;
  margin-bottom: 51px;
}

.description-text span {
  color: #009cde;
  text-decoration: underline;
}

.table-inner {
  display: flex;
  align-items: flex-start;
  gap: 66px;
}

.table-subtitle {
  font-weight: 700;
  font-size: 26px;
  line-height: 33px;
  color: #000;
  margin-bottom: 20px;
}

.table-text {
  font-family: "EuropaNuova-Bold", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  font-style: italic;
  color: #adadad;
}

.list-text {
  margin: 0;
}

.picture-list {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 60px;
}

.text-item {
  font-family: "EuropaNuova-Bold", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 33px;
  font-style: italic;
  color: #121416;
  display: flex;
  align-items: center;
  gap: 3px;
}

.text-item::before {
  display: block;
  width: 20px;
  height: 20px;
  background-image: url("../images/save-icon.svg");
  background-repeat: no-repeat;
  content: "";
  position: relative;
  top: -3px;
}

.pic-desc {
  font-family: "EuropaNuova-Bold", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  font-style: italic;
  color: #adadad;
  margin-top: 16px;
}

.pic-list {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 30px;
}

.pic-wrap {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 100px;
  margin-bottom: 40px;
}

.user {
  display: flex;
  align-items: flex-start;
  gap: 48px;
}

.user-info-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 31.54px;
  color: #121416;
  margin-bottom: 10px;
}

.user-info-text {
  font-weight: 700;
  font-size: 18px;
  line-height: 26.5px;
  color: #6d767e;
  margin-bottom: 10px;
  margin-bottom: 20px;
}

.user-apps {
  display: flex;
  align-items: center;
  gap: 11px;
}

.profile-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 197px;
}

.profile-item {
  display: flex;
  align-items: flex-start;
  gap: 40px;
}

.profile-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26.28px;
  color: #121416;
  margin-top: 20px;
}

.socials-links {
  margin-bottom: 80px;
}

.socials-links-title {
  font-family: "Europa-Reguler", sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 18%;
  color: #121416;
  margin-bottom: 40px;
}

.author {
  padding: 56.5px 40px;
  background-color: #fff;
  text-align: center;
}

.author-title {
  font-family: "Europa-Reguler", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 18%;
  color: #121416;
  margin-bottom: 20px;
}

.author-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 26.28px;
  color: #121416;
}

.author-desc {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #adadad;
  margin: 20px 0;
}

@media screen and (max-width: 1780px) {
  .author {
    background-color: #fff;
    height: 500px;
  }

  .option-list {
    justify-content: center;
  }

  .category-box {
    margin-top: 40px;
    flex-direction: column;
    gap: 30px;
  }

  .destinations-list {
    flex-wrap: wrap;
  }

  .second-main {
    float: none;
    margin: 60px auto;
    width: 100%;
  }

  .options {
    margin-top: 120px;
    max-width: 1322px;
    width: 100%;
    padding: 0 12px 50px 0;
    background-color: #fff;
  }

  .socials-wrap {
    float: none;
    margin: 0 auto;
    display: flex;
    max-width: 1322px;
    width: 100%;
    gap: 50px;
  }

  .cards-list {
    justify-content: center;
  }

  .cards {
    max-width: 500px;
    width: 100%;
  }

  .cards-title {
    margin: 36px 0 30px;
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    color: #121416;
  }

  .cards-author-info {
    flex-wrap: wrap;
    justify-content: center;
  }

  .author-name {
    font-size: 20px;
    line-height: 33px;
  }

  .card-time {
    font-family: "EuropaNuova-Regular";
    margin-left: 10px;
    color: #6c757d;
    font-weight: 400;
    font-size: 24px;
    line-height: 40px;
  }

  .cards-link {
    font-size: 20px;
    line-height: 33px;
  }

  .category-box {
    margin-top: 40px;
    flex-direction: column;
    gap: 30px;
  }

  .destinations-list {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 1610px) {
  .apps {
    display: none;
  }
}

@media screen and (max-width: 1560px) {
  .nav-link {
    font-size: 18px;
    line-height: 18px;
  }
}

@media screen and (max-width: 1500px) {
  .nav-link {
    font-size: 15px;
    line-height: 18px;
  }
}

@media screen and (max-width: 1470px) {
  table::before {
    display: none;
    position: relative;
  }

  .table::after {
    display: none;
    position: relative;
  }

  .information-wrapper {
    padding: 0px;
  }

  .news {
    max-width: 900px;
    width: 100%;
    margin-left: 0;
    padding: 32px;
  }

  .pic-list {
    flex-wrap: wrap;
    justify-content: center;
  }

  .fairy-tale {
    max-width: 830px;
    width: 100%;
  }

  .pic-wrap {
    flex-wrap: wrap;
    justify-content: center;
    gap: 28px;
  }

  .picture-list {
    justify-content: center;
  }
}

@media screen and (max-width: 1400px) {
  .nav-link {
    font-size: 14px;
    line-height: 15px;
  }

  .site-logo {
    width: 280px;
  }
}

@media screen and (max-width: 1300px) {
  .nav-list {
    gap: 20px;
  }

  .site-logo {
    width: 250px;
  }
}

@media screen and (max-width: 1200px) {
  .header-site {
    position: relative;
    padding-bottom: 200px;
    margin-bottom: 0;
  }

  .crumb {
    display: none;
  }

  .header-inner {
    flex-direction: column;
    position: absolute;
    gap: 20px;
  }
  .header {
    padding-top: 43px;
  }

  .nav-link {
    font-size: 20px;
    line-height: 24px;
  }

  .site-logo {
    width: 360px;
  }

  .header-wrap {
    flex-direction: column;
    position: absolute;
    gap: 20px;
  }

  .site-header {
    padding-bottom: 1200px;
  }

  .nav-link {
    font-size: 20px;
    line-height: 24px;
  }

  .site-logo {
    width: 360px;
  }

  .bread-crumb__list {
    margin-top: 150px;
  }

  .content-title {
    font-size: 56px;
    line-height: 56px;
  }

  .content-text {
    line-height: 40px;
    color: #ffffff;
  }
}

@media screen and (max-width: 1100px) {
  .categories-card-wrapper {
    flex-direction: column;
    gap: 30px;
    max-width: 680px;
    width: 100%;
  }

  .category-item span {
    font-size: 16px;
    line-height: 20px;
  }
}

@media screen and (max-width: 1000px) {
  .footer-inner {
    flex-direction: column;
    gap: 30px;
  }
}

@media screen and (max-width: 907px) {
  .destinations-list {
    margin-bottom: 100px;
  }

  .destinations {
    margin-top: 160px;
  }

  .destination-title {
    text-align: center;
  }

  .destinations-text {
    text-align: center;
  }

  .subscribe-input {
    width: 100%;
  }

  .subscribe {
    padding: 20px 0;
  }

  .subscribe-inner {
    padding: 0 30px;
  }

  .btn-subsc {
    position: relative;
    height: 50px;
    display: block;
    width: 140px;
    border: 1px solid rgba(203, 205, 207, 1);
    border-radius: 4px;
    font-weight: 700;
    font-size: 15px;
    line-height: 33px;
    top: 30px;
    margin: 0 auto;
    background-color: rgba(203, 205, 207, 1);
    margin-bottom: 20px;
    bottom: 20px;
  }

  .subscribe-input {
    width: 100%;
  }

  .subscribe-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .subscribe-title {
    font-size: 36px;
    line-height: 40px;
  }

  .subscribe-text {
    font-size: 18px;
    line-height: 30px;
  }

  .hero-title {
    font-size: 50px;
    line-height: 84.1px;
    top: -30px;
  }

  .follow {
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
  }

  .statistics-item::after {
    display: none;
    position: relative;
  }

  .sign-up {
    text-align: center;
  }

  .sign-up__subtitle {
    text-align: center;
  }
  .options-list {
    margin-bottom: 100px;
  }

  .follows {
    text-align: center;
  }
  .article-title {
    text-align: center;
  }
}

@media screen and (max-width: 885px) {
  .category-item {
    display: none;
  }

  .category-item:nth-child(1) {
    display: block;
  }

  .category-item:nth-child(2) {
    display: block;
  }

  .category-item:nth-child(3) {
    display: block;
  }

  .category-item::after {
    position: relative;
    z-index: 10;
  }

  .category-list::after {
    width: 90%;
  }

  .intro-status-list {
    display: none;
  }

  .intro {
    padding-top: 200px;
  }

  .content-list {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  .content-item::after {
    display: none;
    position: relative;
  }

  .box-text {
    font-size: 30px;
    line-height: 40px;
  }

  .box-title {
    font-size: 40px;
    line-height: 60px;
  }
}

@media screen and (max-width: 850px) {
  .pic-list {
    flex-wrap: wrap;
    justify-content: center;
  }

  .picture-list {
    justify-content: center;
  }

  .pictures2-img {
    max-width: 610px;
    width: 100%;
  }
  .socials-wrap {
    flex-direction: column;
    justify-content: center;
  }
  .socialss {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 380px;
    width: 100%;
    margin: 0 auto;
  }

  .profile-list {
    margin-bottom: 100px;
  }

  .author {
    max-width: 380px;
    width: 100%;
    margin: 0 auto;
    height: 430px;
  }
}

@media screen and (max-width: 710px) {
  .category-item {
    display: none;
  }

  .category-item:nth-child(1) {
    display: block;
  }

  .category-item:nth-child(2) {
    display: block;
  }

  .category-item:nth-child(3) {
    display: block;
  }

  .category-item::after {
    position: relative;
    z-index: 10;
  }

  .category-list::after {
    width: 90%;
  }

  .categories-card-big .big-img {
    width: 560px;
  }
}

@media screen and (max-width: 702px) {
  .cards {
    max-width: 500px;
    width: 100%;
  }

  .cards-title {
    margin: 30px 0 20px;
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
    color: #121416;
  }

  .author-name {
    font-size: 18px;
    line-height: 30px;
  }

  .author-name::after {
    display: none;
  }

  .card-time {
    margin-left: 10px;
    font-size: 18px;
    line-height: 30px;
  }

  .cards-link {
    font-size: 18px;
    line-height: 30px;
  }

  .nav-link {
    font-size: 18px;
    line-height: 18px;
  }

  .hero-title {
    font-size: 44px;
    line-height: 84.1px;
    top: -30px;
  }

  .hero-subtitle {
    font-size: 30px;
    line-height: 30px;
    top: -10px;
  }

  .content-title {
    font-size: 50px;
    line-height: 50px;
  }

  .content-text {
    line-height: 30px;
    color: #ffffff;
    font-size: 30px;
  }
}

@media screen and (max-width: 680px) {
  .pictures-img {
    max-width: 400px;
    width: 100%;
  }

  .fairy-tale {
    height: 300px;
  }

  .options {
    padding: 0 10px 0;
  }

  .subscribe-input {
    width: 100%;
    height: 40px;
  }

  .subscribe {
    padding: 20px 0;
  }

  .btn-subsc {
    width: 100%;
    font-size: 12px;
    line-height: 33px;
    height: 40px;
    left: 0px;
  }

  .subscribe-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
  }

  .subscribe-text {
    font-size: 15px;
    line-height: 20px;
  }

  .options-subtitle {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 20px;
  }

  .options-text {
    font-size: 18px;
    line-height: 28px;
  }
}

@media screen and (max-width: 660px) {
  .category-card-item {
    align-items: flex-start;
  }

  .category-card__title {
    font-size: 13px;
    line-height: 25px;
    margin-bottom: 10px;
  }

  .categories-card-big .big-img {
    width: 500px;
  }

  .nav-link {
    font-size: 15px;
    line-height: 18px;
  }

  .nav-link {
    font-size: 15px;
    line-height: 18px;
  }

  .content-item::after {
    display: none;
    position: relative;
  }

  .content-list {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 624px) {
  .cards {
    max-width: 450px;
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .info-item {
    font-size: 15px;
    line-height: 25px;
  }

  .info-subtitle {
    font-size: 30px;
    line-height: 40px;
  }

  .info-title {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 20px;
  }

  .sign-up__title {
    font-size: 40px;
    line-height: 40px;
  }

  .sign-up__subtitle {
    font-size: 30px;
    line-height: 33px;
  }

  .options-cards .option-img {
    width: 350px;
  }
}

@media screen and (max-width: 571px) {
  .category-card-item {
    flex-direction: column;
    align-items: center;
  }

  .category-card__title {
    margin: 0;
    text-align: center;
  }

  .category-item-wrap {
    display: flex;
    flex-direction: column;
  }

  .category-card__subtitle {
    text-align: center;
    margin-top: 15px;
  }

  .categories-card-big .big-img {
    width: 500px;
  }

  .category-card-item {
    gap: 10px;
  }

  .category-card__time {
    text-align: center;
  }

  .category-item__title {
    font-weight: 700;
    font-size: 15px;
    line-height: 24.58px;
    margin-bottom: 16px;
  }

  .categories-card-big .big-img {
    width: 460px;
  }

  .header-site {
    padding: 14px 0 60px;
  }

  .intro {
    padding-top: 150px;
  }

  .box-text {
    font-size: 24px;
    line-height: 33px;
  }

  .box-title {
    font-size: 36px;
    line-height: 40px;
  }

  .header-inner {
    flex-direction: row;
  }

  .header-wrap {
    flex-direction: row;
  }

  .bread-crumb__list {
    margin-top: 50px;
  }

  .nav-list {
    display: none;
  }

  .header-search {
    display: none;
  }

  .menu {
    display: block;
    position: relative;
    z-index: 10;
    fill: #fff;
    background-color: #fff;
  }

  .btn-get {
    display: none;
  }

  .menu-list {
    left: 30px;
    flex-direction: row;
  }

  .content-title {
    font-size: 40px;
    line-height: 40px;
  }

  .content-text {
    line-height: 24px;
    color: #ffffff;
    font-size: 20px;
  }
}

@media screen and (max-width: 535px) {
  .categories-card-big .big-img {
    width: 400px;
  }
}

@media screen and (max-width: 523px) {
  .cards {
    max-width: 350px;
    width: 100%;
  }

  .cards {
    max-width: 300px;
    width: 100%;
  }

  .cards-title {
    margin: 25px 0 15px;
    font-size: 24px;
  }

  .author-name {
    font-size: 15px;
    line-height: 28px;
  }

  .card-time {
    margin-left: 10px;
    font-size: 15px;
    line-height: 28px;
  }

  .cards-link {
    font-size: 15px;
    line-height: 28px;
  }

  .menu-list {
    left: 200px;
    flex-direction: column;
  }
}

@media screen and (max-width: 500px) {
  .pic-wrap {
    display: none;
  }

  .table-inner img {
    display: none;
  }

  .user {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .user-infos {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .description-title {
    font-size: 35px;
    line-height: 40px;
    letter-spacing: 0.5px;
    margin-bottom: 36px;
  }

  .description-text {
    font-size: 15px;
    line-height: 30px;
    margin-bottom: 45px;
  }

  .option-item::after {
    position: relative;
    display: none;
  }

  .option-img {
    max-width: 240px;
    width: 100%;
  }

  .sign-up__subtitle {
    font-size: 18px;
    line-height: 33px;
  }

  .options-cards .option-img {
    width: 300px;
  }

  .statistics {
    flex-wrap: wrap;
    gap: 30px;
  }

  .follow {
    max-width: 375px;
    width: 100%;
  }

  .hero-title {
    font-size: 36px;
    line-height: 60px;
    top: -30px;
  }

  .hero-subtitle {
    font-size: 24px;
    line-height: 30px;
    top: -10px;
  }
}

@media screen and (max-width: 487px) {
  .categories-card-big .big-img {
    width: 350px;
  }

  .category-item:nth-child(3) {
    display: none;
  }

  .category-list::after {
    width: 80%;
  }

  .site-logo {
    max-width: 360px;
    width: 100%;
  }
}

@media screen and (max-width: 467px) {
  .pictures-img {
    height: 300px;
  }

  .pictures2-img {
    height: 300px;
  }

  .pictures3-img {
    max-width: 270px;
    width: 100%;
    height: 300px;
  }

  .pics-img {
    max-width: 270px;
    width: 100%;
    height: 300px;
  }
}

@media screen and (max-width: 437px) {
  .categories-card-big .big-img {
    width: 290px;
  }

  .menu-list {
    left: 150px;
    flex-direction: column;
  }
}

@media screen and (max-width: 400px) {
  .box-text {
    font-size: 20px;
    line-height: 28px;
  }

  .box-title {
    font-size: 24px;
    line-height: 30px;
  }

  .social-img {
    max-width: 350px;
    width: 100%;
  }
}
